<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% record.map((val,index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><%= val.name %></td>
                    <td><%= val.phone %></td>
                    <td>
                        <img src="<%= val.image %>" width="100"/>
                    </td>
                    <td>
                        <a href="/deleteRecord?id=<%= val.id %>">Delete</a> || 
                        <a href="/editRecord?id=<%= val.id %>">Edit</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/add">Add</a>
</body>
</html>